{% extends 'layout.html' %}

{% load  static %}

{% block body %}
    <div class="container">
    <form action="" method="post" class="mt-5" enctype="multipart/form-data">
        <h1 style="text-align: center">Add Student</h1>

        {% csrf_token %}

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="name" required>
        </div>
            {#<div class="mb-3">#}
            {#  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>#}
            {#  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
            {#</div>#}
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label"> Age </label>
          <input type="number" class="form-control" id="age" placeholder="Age" name="age" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control mb-3" id="image" name="image" required accept="image/png">
            <input type="submit" class="form-control bg-success" value="Submit" >
        </div>
    </form>
    </div>
{% endblock %}