{% extends 'layout.html' %}
{% load static %}

{% block body %}
<h1>My Resume</h1>
{#    <img src="{% static 'images/cv.jpg' %}" alt="CV">#}
    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/20mzJggJBGclaF?startSlide=1" width="100%" height="900" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px;max-width: 100%;" allowfullscreen></iframe><div style="margin-bottom:5px"><strong><a href="https://www.slideshare.net/PrakashPokhrel1/glycolysis-61531085" title="Glycolysis" target="_blank">Glycolysis</a></strong> from <strong><a href="https://www.slideshare.net/PrakashPokhrel1" target="_blank">Prakash Pokhrel</a></strong></div>


{% endblock %}